[Unit]
Description=Servidor Scraper para loto

[Service]
Type=simple
User=root
ExecStart=/root/lotoScraper/flask_start.sh

[Install]
WantedBy=multi-user.target

